<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528440503066-pavuk13athrdoomlv7a3ait30qoom0u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528440503066-pavuk13athrdoomlv7a3ait30qoom0u3</string>
	<key>API_KEY</key>
	<string>AIzaSyCUbDQqIVf_6J_KWda8rAkqhjzUJ8Axvrk</string>
	<key>GCM_SENDER_ID</key>
	<string>528440503066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackInventory</string>
	<key>PROJECT_ID</key>
	<string>hack-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>hack-inventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528440503066:ios:1ae3af9d5ffe578153daa3</string>
</dict>
</plist>